.dart_tool/
.packages
.pub/
build/
coverage/

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

.idea/
.vscode/

*.iml
*.log
*.tmp
*.lock
.env